/* easier to make a specific class for the main navigation, than to use a super-specific selector */
nav.main{

}

nav.main ul{
    padding:0;
    margin:0;
}

/* the first level menus */
nav.main > ul {
    display: flex;
}

/* matches all levels of ULs within */
nav.main ul ul {
    /* generally we are not displaying the uls, but the lis*/
    display: none;
    position: absolute;
    width: 12rem;
}

nav.main > ul > li > ul {
    /* takes 100% of the parent's height*/
    top: 100%;

    /*When position is set to absolute or fixed, the left property specifies the distance between the element's left edge and the left edge of its containing block. (The containing block is the ancestor to which the element is relatively positioned.)
When position is set to relative, the left property specifies the distance the element's left edge is moved to the right from its normal position*/
    left: 0;
}

nav.main > ul > li > ul > li > ul{
    top:0;
    left: inherit;

    /*Specifies how far an absolutely positioned box's right margin edge is offset to the left of the right edge of the box's 'containing block' */
    right: 100%
}

nav.main li {
    list-style: none outside;
    display: block;
    position: relative;
}

nav.main li:hover > ul {
    display: block;
}

/* makes the drop menus with equal width */
nav.main > ul > li:not(:last-child){
    padding-right: 0.5rem;
}

nav.main a {
    color: white;
    display: block;
    padding: 0.5rem 1rem;
    background: #333;
    text-decoration: none;
    border-radius: 0.3rem; 
}

/* the first line has the function that the LIs remain highlighted by the hover*/
nav.main li:hover > a,
nav.main a:hover {
    background: #060
}